{{ define "main" }}

<!-- {{ partial "page-title.html" . }} -->

{{ $data := index site.Data site.Language.Lang }}

<script language="javascript" src="../scripts/questions.js"></script>

<!-- Main content -->
<section class="main-content section">

  <!-- Question filtering -->
  <div class="container">
    <div class="form-group" id="frm-filter">
      <!-- Number of questions input -->
      <div class="row">
        <div class="col-sm-3">
          <label for="numberOfQuestions">Number of Questions: </label>
        </div>
        <div class="col-sm-9">
          <select name="numberOfQuestions" id="numberOfQuestions" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>

      <!-- Submit button -->
      <div class="row">
        <div class="col-xs-2 mx-auto">
          <button type="submit" class="btn btn-submit btn-questions" onclick="startQuestions()">Start Questions</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Do questions -->
  <div class="form-group" id="frm-questions" style="display: none">
    <div class="container-fluid">
        <!-- The container for the question blocks - for dynamic question switching -->
        <div class="question-bar" id="question-bar"></div>
    </div>

    <div class="container">
      <div class="question-box" id="question-box">
        <div class="row">
          <!-- Question number and bookmark button -->
          <div class="col-xs-6 question-title" id="question-title">Question x</div>
          <div class="col-xs-6 question-title" id="bookmark-div">
            <!-- To be made functional in stage 2 -->
            <button type="button" class="btn btn-bookmark">Bookmark</button>
          </div>
        </div>              
        
        <div class="row">
          <div class="col-xs-12">
            <!-- The question itself -->
            <div class="question-text" id="question-text">question text</div>
          </div>
        </div>              
        
        <div class="row">
          <div class="col-xs-12">
            <!-- The user input box -->
            <input class="form-control" id="answer-box" type="text"></input>
          </div>            
        </div>            
      </div>
    </div>

    <div class="container-fluid">
      <!-- Next and Previous buttons -->
      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-prev" onclick="selectPrevQuestion()"><i class="ion-arrow-left-b arrow"></i>  Previous</button>
        </div>            
        <div class="col-xs-6">
          <button type="button" class="btn btn-next" onclick="selectNextQuestion()">Next <i class="ion-arrow-right-b arrow"></i></button>
        </div>            
      </div>
      <!-- Submit answers button -->
      <div class="row">
        <div class="col-xs-2 mx-auto ans-button" style="display: none">
          <button type="submit" class="btn btn-submit" onclick="submitAnswers()">Submit Answers</button>
        </div>
      </div> 
    </div>
  </div>

  <!-- Review answers -->
  <div id="frm-answers" style="display: none">
    <div class="container">
      <div class="row">
          <!-- The fraction of the user mark. Two spans with ids for programatic changes -->
          <div class="col-xs-6 user-score">
            <span id="user-score-value">x</span>/<span id="total-score-value">y</span>
          </div>
          <!-- The message given to the user, depending on their score -->
          <div class="col-xs-6 user-message" id="user-message">
            user message
          </div>
      </div>
    </div>

    <!-- A container for the answer blocks. All answer blocks are programatically generated -->
    <div class="container-fluid" id="answer-container"></div>
  </div>
</section>

{{ end }}