.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 120px 0 120px;
  position: relative;
  @include tablet {
    background-attachment: scroll;
    padding: 150px 0;
    h1{
      font-size: 35px;
    }
  }

  .block {
    color: $secondary-color;
    text-align: center;

    h1 {
      font-weight: 500;
      font-size: 45px;
      line-height: 60px;
      letter-spacing: 10px;
      padding-bottom: 15px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 30px;
      color: $primary-color;
      font-size: 24px;
      line-height: 27px;
      font-weight: 300;
    }

    .banner-firstline{
      color: $secondary-color;
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 5px;
    }
    .banner-subline{
      color: $primary-color;
      font-size: 20px;
      line-height: 22px;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 30px;
      
    }
  }
}