{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<script language="javascript" src="../scripts/fyp/evaluationbars.js"></script>

<section class="main-content section">
    <div class="container" id="filter-input-container">
        <div class="row filter-row">
            <div class="col-xs-12">
                <select name="dimension-select" id="dimension-select" class="form-control" onchange="getFilters()">
                    <option value='over_modules'>Data over modules</option>
                    <option value='over_time'>Data over term</option>
                </select>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-xs-12">
                <select name="filter-select" id="filter-select" class="form-control" onchange="getData()"></select>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-xs-12">
                <select name="aspect-select" id="aspect-select" class="form-control" onchange="getData()">
                    <option value='default'>Default</option>
                    <option value='assessment_score'>Assessment</option>
                    <option value='community_score'>Community</option>
                    <option value='effort_score'>Effort</option>
                    <option value='resources_score'>Resources</option>
                    <option value='support_score'>Support</option>
                    <option value='teaching_score'>Teaching</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container" id="chart-container">
        <div class="row">
            <div class="col-xs-12">
                <canvas id="myChart" style="width:100%;max-width:1500px;max-height: 600px;"></canvas>
            </div>
        </div>
    </div>

</section>

{{ end }}