.date-row {
    margin-top: 15px;
    margin-bottom: 40px;
}

.edit-user-header[aria-expanded=false] {
    border-radius: 10px;

    .ion-android-arrow-dropup-circle {
        display: none;
    }
}

.edit-user-header[aria-expanded=true] {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .ion-android-arrow-dropdown-circle {
        display: none;
    }
}

.edit-user-header {
    border-width: 1px;
    border-color: $border-color;
    border-style: solid;

    background-color: lighten($block-background, 2.5%);

    margin: 20px 0px 0px 0px;
}

.edit-user-header-label {
    font-size: 20px;

    color: $secondary-color;

    text-transform: capitalize;
}

.frm-edit-user {
    border-width: 1px;
    border-color: $border-color;
    border-style: solid;

    padding: 20px;

    background-image: radial-gradient(circle at center, $block-background, lighten($block-background, 5%));

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-row {
    margin-bottom: 5px;

    border-bottom-color: $border-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.btn-row {
    margin-top: 20px;
}

.page-marker {
    margin: 5px;
    padding:10px;
    background-color: $light-primary;
    color: $tertiary-color;
    font-size: 20px;

    border-radius: 10px;
}

.page-marker-selected {
    margin: 5px;
    padding:10px;
    background-color: $tertiary-color;
    color: $light-primary;
    font-size: 20px;

    border-radius: 10px;
}

.page-marker-row {
    height: 60px !important;
    overflow-x: auto;
}

.btn-delete:hover, .btn-delete:focus {
    background-color: $primary-color;
    color: $light-primary;
}

.btn-next:hover, .btn-next:focus, .btn-prev:hover, .btn-prev:focus{
    background-color: $tertiary-color;
    color: $light-primary;
}

.page-marker:hover, .page-marker:focus {
    background-color: lighten($tertiary-color, 10%);
    color: $light-primary;
}

.page-marker-selected:hover, .page-marker-selected:focus {
    background-color: darken($light-primary, 10%);
    color: $tertiary-color;
}