.edit-class-header[aria-expanded=false] {
    .ion-android-arrow-dropup-circle {
        display: none;
    }
}

.edit-class-header[aria-expanded=true] {
    .ion-android-arrow-dropdown-circle {
        display: none;
    }
}

.edit-class-box {
    margin: 15px;

    padding-left: 10px;
    padding-right: 10px;

    border-style: solid;
    border-color: $border-color;
    border-width: 1px;
    border-radius: 15px;

    //background-color: $block-background;
    background-image: radial-gradient(circle at center, $block-background, lighten($block-background, 5%));
}

.edit-class-header-label {
    font-size: 20px;

    color: $secondary-color;

    text-transform: capitalize;
}

.frm-edit-class {
    border-top-color: $border-color;
    border-top-style: solid;
    border-top-width: 1px;

    padding: 20px;
}

.class-row {
    margin-bottom: 5px;

    border-bottom-color: $border-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.btn-row {
    margin-top: 20px;
}

.page-marker {
    margin: 5px;
    padding:10px;
    background-color: $light-primary;
    color: $tertiary-color;
    font-size: 20px;

    border-radius: 10px;
}

.page-marker-selected {
    margin: 5px;
    padding:10px;
    background-color: $tertiary-color;
    color: $light-primary;
    font-size: 20px;

    border-radius: 10px;
}

.page-marker-row {
    height: 60px !important;
    overflow-x: auto;
}

.btn-remove:hover, .btn-remove:focus {
    background-color: $primary-color;
    color: $light-primary;
}

.btn-add:hover, .btn-add:focus {
    background-color: $primary-color;
    color: $light-primary;
}

.btn-next:hover, .btn-next:focus, .btn-prev:hover, .btn-prev:focus{
    background-color: $tertiary-color;
    color: $light-primary;
}

.page-marker:hover, .page-marker:focus {
    background-color: lighten($tertiary-color, 10%);
    color: $light-primary;
}

.page-marker-selected:hover, .page-marker-selected:focus {
    background-color: darken($light-primary, 10%);
    color: $tertiary-color;
}

.btn-delete-class{
    background-color: lighten($incorrect, 50%);
    color: darken($incorrect, 20%);

    float: right;
}

.btn-delete-class:hover, .btn-delete-class:focus {
    background-color: darken($incorrect, 20%);
    color: lighten($incorrect, 50%);
}

.delete-box {
    vertical-align: top;
}