$light: #fff;
$black: #000;

$light-primary: rgb(239, 239, 239);
$primary-color: rgb(16, 16, 16);
$secondary-color: rgb(64, 64, 64);
$tertiary-color: rgb(0, 0, 100);
$text-subtle: #555;


$bookmark: rgb(240, 199, 15);
$correct: rgb(0, 185, 0);
$alright: rgb(216, 108, 0);
$incorrect: rgb(209, 38, 38);

$primary-font:'Avenir Next', sans-serif;
$secondary-font:'Helvetica', serif;
$icon-font: 'themefisher-font';

$block-background: rgb(217, 244, 255);
$header-background: rgb(228, 228, 228);
$feature-background: rgb(210, 247, 255);
$drag-background: rgb(255, 255, 255);
$drag-disabled: rgb(238, 238, 238);

$border-color: rgb(0, 0, 100);
$border-color-subtle: #ccc;

$submit-button: rgb(0,128, 0);

$throbber-color: rgba(0, 86, 185, 0.8);
$throbber-background: rgba(239, 239, 239, 0.5);