$light: #fff;
$primary-color: rgb(64, 64, 64);
$secondary-color: rgb(64, 0, 0);
$tertiary-color: rgb(0, 0, 64);
$light-orange: rgb(255,147,0);
$very_light_orange: rgb(255, 246, 233);
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Avenir Next', sans-serif;
$secondary-font:'Helvetica', serif;
$icon-font: 'themefisher-font';
$text-color: #3f3f3f;
$light-grey: rgb(210,210,210);
