$light: #fff;
$black: #000;

$primary-color: rgb(16, 16, 16);
$secondary-color: rgb(64, 64, 64);
$tertiary-color: rgb(0, 0, 100);

$light-primary: rgb(239, 239, 239);

$bookmark: rgb(240, 199, 15);
$correct: rgb(0, 185, 0);
$alright: rgb(216, 108, 0);
$incorrect: rgb(209, 38, 38);

$primary-font:'Avenir Next', sans-serif;
$secondary-font:'Helvetica', serif;
$icon-font: 'themefisher-font';

$block-background: rgb(217, 244, 255);
$header-background: rgb(200, 200, 200);
$border-color: rgb(0, 0, 100);
$border-color-subtle: #ccc;
$text-subtle: #555;
$submit-button: rgb(0,128, 0);

$drag-background: rgb(255, 255, 255);
$drag-disabled: rgb(238, 238, 238);

$throbber-color: rgba(0, 86, 185, 0.800);