{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- Main content -->
<section class="main-content section">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="analytics" id="analytics">
                    TODO lol
                </div>
            </div>
            <div class="col-xs-4">
                <div class="assignment-sets">
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Assignment Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Assignment Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Assignment Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Assignment Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Assignment Set
                        </div>
                    </div>
                </div>

                <div class="set-list" id="previous-sets">
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Previous Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Previous Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Previous Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Previous Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Previous Set
                        </div>
                    </div>
                </div>
                <div class="frequent-sets">
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Frequent Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Frequent Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Frequent Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Frequent Set
                        </div>
                    </div>
                    <div class="row set-row">
                        <div class="col-xs-12 set-item">
                            Frequent Set
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}