{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- Main content -->
<section class="main-content section">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="analytics">

                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="previous-sets">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="frequent-sets">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}