{{ define "main" }}

<!-- {{ partial "page-title.html" . }} -->

{{ $data := index site.Data site.Language.Lang }}

<script language="javascript" src="../scripts/questions.js"></script>
<script language="javascript" src="../scripts/libraries/dragNSort.js"></script>

<!-- Main content -->
<section class="main-content section">
  <!-- Question filtering -->
  <div class="container">
    <div class="form-group" id="frm-filter">
      <!-- Qualification input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="qualification">Qualification: </label>
        </div>
        <div class="col-xs-9">
          <select name="qualification" id="qualification" class="form-control" onchange="newQualification()"></select>
        </div>
      </div>

      <!-- Exam board input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="examBoard">Exam Board: </label>
        </div>
        <div class="col-xs-9">
          <select name="examBoard" id="examBoard" class="form-control" onchange="newExamBoard()"></select>
        </div>
      </div>

      <!-- Subject input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="subject">Subject: </label>
        </div>
        <div class="col-xs-9">
          <select name="subject" id="subject" class="form-control" onchange="newSubject()"></select>
        </div>
      </div>

      <!-- Topic input -->
      <div class="row topic-header" id="topic-header">
        <div class="col-xs-3">
          <label class="form-group-label" data-toggle="collapse" data-target="#topic-select" aria-expanded="false" aria-controls="topic-select">Topics: </label>
        </div>
        <div class="col-xs-9">
          <div class="topic-header-collapse">
            <div class="row">
              <div class="col-xs-6 topic-header-left" data-toggle="collapse" data-target="#topic-select" aria-expanded="false" aria-controls="topic-select">
                <label id="num-topics-selected">Selected: n</label>
              </div>
              <div class="col-xs-4 topic-header-middle">
                <input type="checkbox" class="check-box select-all" onchange="selectAll('sections')" value="" id="sections"/>
                <label for="sections" class="check-box-label">Select All</label>
              </div>
              <div class="col-xs-2 topic-header-right" data-toggle="collapse" data-target="#topic-select" aria-expanded="false" aria-controls="topic-select">
                <i class="ion-chevron-down topic-symbol"></i><i class="ion-chevron-up topic-symbol"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
          <div class="topic-select collapse" id="topic-select"></div>
        </div>
      </div>

      <!-- Number of questions input -->
      <div class="row filter-row spacer">
        <div class="col-sm-3">
          <label for="numberOfQuestions" class="form-group-label">Number of Questions: </label>
        </div>
        <div class="col-sm-9">
          <select name="numberOfQuestions" id="numberOfQuestions" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>

      <!-- Show timer checkbox -->
      <div class="row spacer">
        <div class="col-xs-3">
          <label for="timer-check" class="form-group-label">Show Timer: </label>
        </div>
        <div class="col-xs-9">
          <input type="checkbox" id="timer-check" class="timer-check" checked="true"></input>
        </div>
      </div>   

      <!-- Submit button -->
      <div class="row">
        <div class="col-xs-2 mx-auto">
          <button type="submit" class="btn btn-submit btn-questions" onclick="startQuestions()" disabled="disabled">Start Questions</button>
          <!-- <button type="submit" class="btn btn-submit btn-questions" onclick="startQuestions()">Start Questions</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Do questions -->
  <div class="form-group" id="frm-questions" style="display: none">
    <div class="container-fluid">
        <!-- The container for the question blocks - for dynamic question switching -->
        <div class="question-bar" id="question-bar"></div>
    </div>

    <div class="container">
      <div class="question-box" id="question-box">
        <div class="row">
          <!-- Question number and bookmark button -->
          <div class="col-xs-6 question-title">
            <label id="question-title">Question x</label>
          </div>
          <div class="col-xs-3 timer">
            <label id="question-timer"></label>
          </div>
          <div class="col-xs-3 question-title" id="bookmark-div">
            <button type="button" class="btn btn-bookmark" id="btn-bookmark" onclick="bookmarkQuestion()">Bookmark</button>
          </div>
        </div>              
        
        <!-- The question itself -->
        <div class="row">
          <div class="col-xs-12">
            <div class="question-text" id="question-text">question text</div>
          </div>
        </div>              

        <!-- The user input box -->
        <div class="row">
          <div class="col-xs-12" id="user-input">
            <input class="form-control" id="answer-box" type="text"></input>
          </div>            
        </div>            
      </div>
    </div>

    <div class="container-fluid">
      <!-- Next and Previous buttons -->
      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-prev" onclick="selectPrevQuestion()"><i class="ion-arrow-left-b arrow"></i>  Previous</button>
        </div>            
        <div class="col-xs-6">
          <button type="button" class="btn btn-next" onclick="selectNextQuestion()">Next <i class="ion-arrow-right-b arrow"></i></button>
        </div>            
      </div>

      <!-- Submit answers button -->
      <div class="row">
        <div class="col-xs-2 mx-auto ans-button" style="display: none">
          <button type="submit" class="btn btn-submit" onclick="submitAnswers()">Submit Answers</button>
        </div>
      </div> 
    </div>
  </div>

  <!-- Review answers -->
  <div id="frm-answers" style="display: none">
    <div class="container">
      <div class="row">
          <!-- The fraction of the user mark. Two spans with ids for programatic changes -->
          <div class="col-xs-6 user-score">
            <span id="user-score-value">x</span>/<span id="total-score-value">y</span>
          </div>
          <!-- The message given to the user, depending on their score -->
          <div class="col-xs-6 user-message" id="user-message">
            user message
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row links-row">
        <div class="col-xs-12">
          <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=pVMuvgJRy0SwEMWWiasLpKlBMSVGhf5DpumCqxw477dUMkZCUzNBOFNTWE5DNjIxRUJZRUpWVTlWUS4u" class="links-link">Review Form</a>
        </div>
      </div>
    </div>
    
    <!-- A container for the answer blocks. All answer blocks are programatically generated -->
    <div class="container-fluid" id="answer-container"></div>
  </div>
</section>

{{ end }}
