{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<script language="javascript" src="../scripts/manageUsers.js"></script>

<!-- Main content -->
<section class="main-content section">
    <div class="container">
      <!-- First Name input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="first-name-input">First Name: </label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="first-name-input" type="text"></input>
        </div>
      </div>

      <!-- Last Name input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="last-name-input">Last Name: </label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="last-name-input" type="text"></input>
        </div>
      </div>
      
      <!-- Email input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="email-input">Email: </label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="email-input" type="text"></input>
        </div>
      </div>

      <!-- Access Level input -->
      <div class="row filter-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="access-level-input">User Type: </label>
        </div>
        <div class="col-xs-9">
          <select name="access-level-input" id="access-level-input" class="form-control">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        </div>
      </div>

      
      <!-- DOB input -->
      <div class="row filter-row date-row">
        <div class="col-xs-3">
          <label class="form-group-label" for="dob-input">Date of Birth: </label>
        </div>
        <div class="col-xs-9">
            <input type="date" id="dob-input" name="dob-input" value="2000-01-01" min="1900-01-01" max="2022-01-01"></input>
        </div>
      </div>

      <!-- Submit button -->
      <div class="row">
        <div class="col-xs-2 mx-auto">
          <button type="submit" class="btn btn-submit" onclick="submitUser()">Start Questions</button>
          <!-- <button type="submit" class="btn btn-submit btn-questions" onclick="startQuestions()">Start Questions</button> -->
        </div>
      </div>
    </div>
</section>

{{ end }}